// General
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Utilities
.ab-h23 {
    height: 23px;
}

.ab-h80 {
    height: 80px;
}

.ab-h100 {
    height: 100px;
}

.ab-h500 {
    height: 500px;
}

.ab-h300 {
    height: 300px;
}

.ab-h200 {
    height: 200px;
}

// Reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}